.video-thumb {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s ease-in-out;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay:hover {
  opacity: 1;
}
.play-icon {
  color: #0add0a;
}
